/ - content_for(:hero) do
/   = render :partial => '/shared/hero'

#home
  .centered_scrollable
    %section
      %h1 Living at Atamai

      %p.blurb
        It's our vision to live, play and work in a sustainable settlement that is connected to the wider local 
        community but provides many of the things that really matter itself, such as 
        <a href="/resilience/food-security">food</a>, 
        <a href="/resilience/energy-descent">energy</a>, 
        <a href="/resilience/climate-change">water</a> and
        meaningful 
        <a href="/jobs">livelihoods</a>.

      .image-box.three-images
        = image_tag 'illustrations/compost.jpg', :size => '300x200'
        = image_tag 'illustrations/compost_lunch.jpg', :size => '300x200'
        = image_tag 'illustrations/pond_jetty.jpg', :size => '300x200'

    %section
      %h1 Let us show you around

      %p.blurb
        When completed we expect our village to have homesteads and market gardens, orchards and forests, townhouses,
        business, community facilities, workshops, bike trails and much much more. 
        = link_to 'Take a virtual tour', '/our-village/a-tour-of-our-vision'
        through our vision
        of a completed Atamai Village, or visit 
        = link_to 'the Development Project Website', 'http://www.atamaivillage.com'
        to see what has already been created.

      .image-box
        = image_tag 'illustrations/village_center_painting.jpg'

    %section
      %h1 Building a village economy

      %p.blurb
        We aren't a commune, we're a village of 
        <a href="/our-village/how-it-works/ownership">privately owned homes</a> and business which works together to 
        create
        an internal economy we can rely on. We buy from each other where possible, or locally where not. Our policy
        of trying to keep work in the village means that we have 
        <a href="/jobs">unique opportunities for profesionals</a> in a range
        of areas to work for a fair living and create real local value, regardless of the world's troubles.

      .image-box.three-images
        = image_tag 'illustrations/picking_tea.jpg', :size => '300x200'
        = image_tag 'illustrations/brick_making.jpg', :size => '300x200'
        = image_tag 'illustrations/paul_workshop.jpg', :size => '300x200'

    %section
      %h1 Human community and mutual support

      %p.blurb
        We live together, and support each other, but we don't have a common faith or ideology, except for the desire
        to live <a href="/our-village/human-needs-and-village-life/code-of-ethics">sustainably and happily together</a>. 
        We value diversity and difference, and we
        try and balance the need for private space to be yourself with the need to make 
        <a href="/our-village/how-it-works/governance">decisions with your neighbours</a>
        about shared resources and projects.

      .image-box.three-images
        = image_tag 'illustrations/picnic.jpg', :size => '300x200'
        = image_tag 'illustrations/planning.jpg', :size => '300x200'
        = image_tag 'illustrations/drama.jpg', :size => '300x200'
