.village_life.not_implemented
  picture giving impression of village life goes above content (and maybe tabs)
.two_columns
  .column
    .teaser.teaser_question
      %h2 Are you worried about the future?
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration left', :size => '120x90'
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        = link_to "Read More", '#', :class => "read_more"
    .teaser.teaser_question
      %h2 Why is a village more resilient?
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration left', :size => '120x90'
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        = link_to "Read More", '#', :class => "read_more"
    .teaser.teaser_question
      %h2 Is a good life possible in a post peak oil world?
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration left', :size => '120x90'
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        = link_to "Read More", '#', :class => "read_more"
    .teaser.teaser_question
      %h2 How can you provide your kids with the right opportunities for an uncertain future?
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration left', :size => '120x90'
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        = link_to "Read More", '#', :class => "read_more"
  .column
    .teaser.map_teaser
      %h2 Permaculture designed for resilience
      %p 
        Explore our full site design and important village features on
        = link_to("the Atamai Village map", '/the-village', :class => 'read_more') + '.'
      .popover-wrapper
        = image_tag 'illustrations/map_example.png', :class => 'map'
        .popover.left
          .arrow
          .inner
            %h2.title Orchard Terraces
            .content
              %p 
                524 fruit trees, 120 support trees, understory plantings, swales, access paths & irrigation. Now 5 years old and already productive.                  
                = link_to "Read More", '/the-village?selected_item=orchard', :class => "read_more"
    
    .teaser
      %h2 You can be here now
      %p 
        We have sections ready for sale, beautiful common lands, and also some options for rentals, jobs and business opportunities.
        = link_to "Read More", '#', :class => "read_more"
      = image_tag 'illustrations/pond_and_site_16.jpg', :class => 'illustration', :size => '136x100'
      = image_tag 'illustrations/site_9.jpg', :class => 'illustration', :size => '136x100'
      = image_tag 'illustrations/north_east_from_site_10.jpg', :class => 'illustration', :size => '136x100'

    .teaser
      %h2 Motueka, New Zealand
      = image_tag 'illustrations/motueka_river_valley.jpg', :class => 'illustration right', :title => "Motueka River by flickr user freakalad", :alt => "Motueka River by flickr user freakalad"
      %p 
        While being a popular and beautiful tourist destination, Motueka, in Tasman Bay NZ, has the opportunity to be a genuinely resilient local community,
        with many features which will help ensure ongoing food, health and quality of life even in the face of fairly dramatic changes in our climate or
        society.
        = link_to "More about Motueka", '#', :class => "read_more"

.not_implemented.where_next>
  .inner
    %h3 Where to next?
    %p 
      Some links go here in case you totally failed to navigate somewhere from all the above options.