.two_columns
  .column
    .teaser.teaser_question
      %h2 Is Atamai Village for you?
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        = link_to "Read More", '#', :class => "read_more"
    .teaser.teaser_question
      %h2 Is Atamai Village for you?
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        = link_to "Read More", '#', :class => "read_more"
    .teaser.teaser_question
      %h2 Is Atamai Village for you?
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        = link_to "Read More", '#', :class => "read_more"
    .teaser.teaser_question
      %h2 Is Atamai Village for you?
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        = link_to "Read More", '#', :class => "read_more"
  .column
    .teaser.map_teaser
      %h2 Permaculture designed for resilience
      %p 
        Explore our full site design and important village features on
        = link_to("the Atamai Village map", '/the-village', :class => 'read_more') + '.'
      .popover-wrapper
        = image_tag 'illustrations/map_example.png', :class => 'map'
        .popover.left
          .arrow
          .inner
            %h2.title Orchard Terraces
            .content
              %p 
                524 fruit trees, 120 support trees, understory plantings, swales, access paths & irrigation. Now 5 years old and already productive.                  
                = link_to "Read More", '/the-village?selected_item=orchard', :class => "read_more"
    
    .teaser
      %h2 You can be here
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'
      = image_tag 'illustrations/waving_on_path.jpg', :class => 'illustration', :size => '120x90'

    .teaser
      %h2 Motueka, New Zealand
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

.where_next>
  .inner
    %h3 Where to next?
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.