<!DOCTYPE html>

<%= render '/refinery/html_tag' %>
  <%# site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <link rel="stylesheet" href="/font-awesome-4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <body>
    <%#= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>

      <!--<div id="breadcrumb_sticky">-->
        <!--<%= render '/refinery/bread_crumb' -%>-->
      <!--</div>-->

      <%- if content_for? :hero %>
        <section id='hero'>
          <div class='inner'><div class='inner2'><div class='inner3'><div class="fixed"><div class="fixed_inner">
            <%= yield :hero %>
          </div></div></div></div></div>
        </section>
      <% end %>

      <section id="page">
        <div class="section_contents">
          <%= yield %>
        </div>
      </section>

      <footer>
        <div class="inner">
          <div class="fixed">
            <div class="fixed_inner">
              <%= render '/refinery/footer' -%>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
    <!--<script src="<%#= asset_path 'site_bar.js' %>"></script>-->
  </body>
</html>
