<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header>
        <div class="inner">
          <%= render :partial => "/shared/header" -%>
        </div>
      </header>
      
      <% if current_page?('/') %>
        <%= render :partial => '/shared/hero' %>
      <% end %>

      <section id='page'>
        <div class="section_contents">
          <%= yield %>
        </div>
      </section>
      
      <footer>
        <div class="inner">
          <div class="fixed">
            <div class="fixed_inner">
              <%= render :partial => "/shared/footer" -%>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
